*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff; 
    --color-main: rgb(227, 35, 35); 

    --padding: 2rem;

    --radio: 5px;
}

h1 {
    font-weight: bolder;
    color: var(--color-white);
    cursor: pointer;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--color-main);
    padding: var(--padding);
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header i {
    cursor: pointer;
    font-size: 2rem;
}

header a {
    color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario {
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    column-gap: 20px;
}

input {
    border: 1px solid black;
    border-radius: var(--radio);
}

input[type=number]{
    -webkit-appearance: none;
     margin: 0;
    -moz-appearance: textfield;
}

.resultados {
    padding: var(--padding);
}

.container {
    max-width: 968px;
}

footer{
    width:100%;
    bottom: 0;
    position: absolute;
    height: 5%;
}

.text-footer {
    text-align: center;
}

.info{
    margin-top: 5rem;
}

section.resultados {
    display: flex;
    gap: 2rem;
}