*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff; 
    --color-main: rgb(139, 149, 201); 
    --padding: 2rem;

    --radio: 5px;
}

h1 {
    font-weight: bolder;
    color: var(--color-white);
    cursor: pointer;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100vh;
}

header {
    background-color: var(--color-main);
    padding: var(--padding);
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header i {
    cursor: pointer;
    font-size: 2rem;
}

header a {
    color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    min-width: 40vw;
}

.formulario {
    display: flex;
    flex-direction: row;
    padding: var(--padding);

}

form {
    column-gap: 20px;
}

input {
    border: 1px solid black;
    border-radius: var(--radio);
}

input[type=number]{
    -webkit-appearance: none;
     margin: 0;
    -moz-appearance: textfield;
}

.resultados {
    display: flex;
    flex-direction: column;
    max-width: 968px;
    padding: var(--padding);
    align-items: center;
    padding-bottom: 2.5rem;
    margin-bottom: 2rem;
}

.resumen {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}


button.eliminar {
    margin-top: 1rem;
}

.prestamo-info {
    border-style: solid;
    border-color: var(--color-main);
    border-radius: var(--radio);
    background-color: rgb(71, 137, 120);
    color: var(--color-white);
    text-align: center;
    padding: 0.5rem;
}

.prestamo-info:hover{
    transform: scale(1.1);
    transition: transform 500ms;
}

    
footer{
    background-color: var(--color-main);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}

.text-footer {
    text-align: center;
    color: var(--color-white);
    font-weight: 1000;
}

.info{
    padding: var(--padding);
}

@media only screen and (max-width: 768px) {
    
}